pipeline/PL_LOAD_1ST_TO_5TH_MASTER.json
{
    "name": "PL_LOAD_1ST_TO_5TH_MASTER",
    "properties": {
        "activities": [
            {
                "name": "Delete csvfilestorage-large",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "Wait 2 Minutes MedLarge",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ablob_ADP_CSV_FILES__LARGE",
                        "type": "DatasetReference"
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Load 1st To Container",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_LOAD_FIRST_TO_CONTAINER",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": false
                }
            },
            {
                "name": "Wait 3 Minutes",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Load 1st To Container",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 180
                }
            },
            {
                "name": "Load 1st To Server",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Wait 3 Minutes",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_LOAD_FIRST_TO_SERVER",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "Wait 2 Minutes 1st",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Load 1st To Server",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 120
                }
            },
            {
                "name": "Load MedFiles To Container 2nd",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Load dbo PS_Check_Detail",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_LOAD_MEDFILES_TO_CONTAINER",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "Wait 5 Minues",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Load MedFiles To Container 2nd",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 300
                }
            },
            {
                "name": "Load MedFiles If To Server 2nd",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Wait 5 Minues",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_LOADMEDFILES_IF_TO_SERVER",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "Wait 4 Minutes",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Load MedFiles If To Server 2nd",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 240
                }
            },
            {
                "name": "Delete csvfilestorage",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "Wait 4 Minutes",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ablob_ADP_CSVFILE_SOURCE_DS",
                        "type": "DatasetReference"
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Load Med2Files To Container 3rd",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Delete csvfilestorage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_LOAD_MED2FILES_TO_CONTAINER",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "Wait 2 Minutes",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Load Med2Files To Container 3rd",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 120
                }
            },
            {
                "name": "Load MedFiles If To Server 3rd",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Wait 2 Minutes",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_LOADMEDFILES_IF_TO_SERVER",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "Wait 2 Minutes 3rd",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Load MedFiles If To Server 3rd",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 600
                }
            },
            {
                "name": "Load MedLarge Files To Container 4th",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Wait 2 Minutes 3rd",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_LOAD_MEDLARGEFILES_TO_CONTAINER",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "Wait 30 Seconds",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Load MedLarge Files To Container 4th",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 30
                }
            },
            {
                "name": "Load MedLarge Files To Server 4th",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Wait 30 Seconds",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_LOAD_MEDLARGEFILES_2_SERVER",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "Wait 2 Minutes MedLarge",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Load MedLarge Files To Server 4th",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 240
                }
            },
            {
                "name": "Load Largest Files To Container 5th",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Wait 1 Minute",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_LOAD_LARGESTFILES_TO_CONTAINER",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "Wait 1 Minute",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Delete csvfilestorage-large",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 60
                }
            },
            {
                "name": "Wait 1 Minute_copy1",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Load Largest Files To Container 5th",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 60
                }
            },
            {
                "name": "Load LargestFiles IF To Server",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Wait 1 Minute_copy1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PL_LOAD_LARGESTFILES_IF_TO_SERVER",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            },
            {
                "name": "Wait 5 Minutes",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Load LargestFiles IF To Server",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 300
                }
            },
            {
                "name": "Delete csvfilestorage-mediumlarge",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "Wait 5 Minutes",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ablob_ADP_MedLarge_CSVFILE_SOURCE_DS",
                        "type": "DatasetReference"
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Delete csvfilestorage-large_copy1",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "Delete csvfilestorage-mediumlarge",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ablob_ADP_CSV_FILES__LARGE",
                        "type": "DatasetReference"
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Delete csvfilestorage_copy1",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "Delete csvfilestorage-large_copy1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ablob_ADP_CSVFILE_SOURCE_DS",
                        "type": "DatasetReference"
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Load dbo PS_Actn_Reason_Tbl",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Wait 2 Minutes 1st",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Load_PS_ACTN_REASON_TBL]"
                },
                "linkedServiceName": {
                    "referenceName": "Azure_eu1dhrsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Load dbo PS_AL_Chk_Data",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load dbo PS_Actn_Reason_Tbl",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Load_PS_AL_CHK_DATA]"
                },
                "linkedServiceName": {
                    "referenceName": "Azure_eu1dhrsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Load dbo PS_Check_Detail",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load dbo PS_Job",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Load_PS_CHECK_DETAIL]"
                },
                "linkedServiceName": {
                    "referenceName": "Azure_eu1dhrsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Load dbo PS_Dependent_Benef",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load dbo PS_AL_Chk_Data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Load_PS_DEPENDENT_BENEF]"
                },
                "linkedServiceName": {
                    "referenceName": "Azure_eu1dhrsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Load dbo PS_Health_Benefit",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load dbo PS_Rptc_Health_Ben",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Load_PS_HEALTH_BENEFIT]"
                },
                "linkedServiceName": {
                    "referenceName": "Azure_eu1dhrsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Load dbo PS_Job",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load dbo PS_Health_Benefit",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Load_PS_JOB]"
                },
                "linkedServiceName": {
                    "referenceName": "Azure_eu1dhrsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Load dbo PS_Life_Add_Ben",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load dbo PS_Dependent_Benef",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Load_PS_LIFE_ADD_BEN]"
                },
                "linkedServiceName": {
                    "referenceName": "Azure_eu1dhrsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Load dbo PS_Paygroup_Tbl",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load dbo PS_Life_Add_Ben",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Load_PS_PAYGROUP_TBL]"
                },
                "linkedServiceName": {
                    "referenceName": "Azure_eu1dhrsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Load dbo PS_Personal_Data",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load dbo PS_Paygroup_Tbl",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Load_PS_PERSONAL_DATA]"
                },
                "linkedServiceName": {
                    "referenceName": "Azure_eu1dhrsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Load dbo PS_Rptc_Health_Ben",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load dbo PS_Personal_Data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Load_PS_RPTC_HEALTH_BEN]"
                },
                "linkedServiceName": {
                    "referenceName": "Azure_eu1dhrsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Send Talent Success Email",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Delete csvfilestorage_copy1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "https://prod-70.eastus.logic.azure.com:443/workflows/8337d2885a0c4d99977f6f277e9638a1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=aMqNPaEX79e0Fk1qUeQBhacAoLBxQB1b2laloIIwqVw",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "POST",
                    "body": {
                        "value": "{\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineName\": \"@{pipeline().Pipeline}\",\n   \"Message\": \"@{replace(replace(variables('SuccessMessage'),'\\','\\\\'),'\"','''')}\",\n    \"Time\":\"@{substring(convertFromUtc(utcnow(),'Eastern Standard Time'),0,16)}\",\n    \"Subject\": \"Pipeline Message!\"\n}",
                        "type": "Expression"
                    }
                }
            }
        ],
        "variables": {
            "SuccessMessage": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2021-09-26T13:19:54Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}